<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>หน้า</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="qrcode">
      <ion-icon name="qr-scanner"></ion-icon>
      <ion-label>สแกน</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="history">
      <ion-icon name="time"></ion-icon>
      <ion-label>ประวัติ</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings"></ion-icon>
      <ion-label>การตั้งค่า</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
