.ion-padding-bottom{
    padding-bottom: 4px;
}
.rec{
    background-color: #F5E3FA;
}
.imgac{
    height: 144px;
}
.bgbtn{
    --background: #ffffff;
    color: #000;
}
.txt{
    color: rgb(82, 155, 82)
}