ion-button{
    --background: #ffffff;
    color: #000;
}
ion-label{
    tab-size: 24px;
}
ion-icon{
    font-size: 32px; 
}
img{
    height: 144px;
}
.card{   
    height: 160px;
}
.ion-padding-bottom{
    padding-bottom: 4px;
}
.centerblock{
    display: inline-flex;
    align-items: center;
}
.pad{
   text-align: end;
}
.rec{
    background-color: #FCEFFF;
}
#map_canvas {
    width: 90%;
    height: 300px;
    border: 1px solid red;
}

