.sex{
    font-size: 24px;
    color: #000000;
}
.pro{
    color: Dark-tint;
    font-size: 96px; 
}
.field{
    margin: auto;
    width: 50%;
    padding: 10px;
}
.centerblock{
    padding-top: 8px;
    align-items: center;
}
.bgl{
    background-color: antiquewhite;
}
.colorseg{
    background-color: antiquewhite;
    border: 4px;
    border-color: #000000;

}