<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button>
        <ion-back-button defaultHref="/activity/settings"></ion-back-button>
      </ion-button>
      <ion-title>ลืมรหัสผ่าน</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row> 
    <ion-col size="8"  offset="2">
      <ion-label>อีเมลล์</ion-label>
      <br><ion-input type="email" class="frame"></ion-input>
    </ion-col>
  </ion-row>
  <ion-row > 
    <ion-col size="8"  offset="2">
      <ion-row style="justify-content: flex-end">
          <ion-button shape="round" (click)=savepass() class="btn">ส่งรหัสผ่านใหม่</ion-button>
      </ion-row>      
    </ion-col>
  </ion-row>
</ion-content>
