.frame{
    background-color: #DAB2D3;
    border-radius: 8px;
    --padding-start:16px;
  }
.bg{
  --ion-background-color:#F5E3FA;
}
.button{
  --background:#DAB2D3;
  --ion-text-color:#000000;
  font-size: 16px;
}
.logo{
  height: 100px;
  width: 400px;
}
.centerblock{
  align-items: center;
}