ion-icon {
    color: Dark-tint;
    font-size: 96px; 
  }
ion-label {
  color: #CC00FF;
  //font-size: 18px;
}
ion-item {
  color: #CC00FF;
}
.bg{
  background-color: #F6E4FB;
}
.centerblock{
  align-items: center;
}

